body{
    margin: 0 auto;
    padding: 0;
    background-image: linear-gradient(to right, #fae987, #ffa2a2, #ace7ff);

}
ul{
    list-style: none;
    
}
button{
    margin-top: 20px;
    
    
}

h1{
    font-family: 'Playfair Display ', serif;
    font-style: italic;
    color: #45a0c4;
    margin-bottom: 50px;
}

#Menu ul li{
    display: inline;
    padding: 15px;
    
    
}
#Menu :hover{
    color: black;
}
li a{
    color: #3485a5;
    font-family: 'Patrick Hand', cursive;
}
.container{
    text-align: center;
    margin-bottom: 20px;
    
    
}



